["^ ","~:users",["^ ","~i1",["^ ","~:login","ira","~:password","123"],"~i2",["^ ","^1","olga","^2","123"]],"~:projects",["^ ","~i1",["^ ","~:title","Newe","~:description","","~:author","ira","~:tickets",["~#set",[4]],"^0",["^8",["ira","olga"]]]],"^7",["^ ","~i4",["^ ","^5","","~:creator",1,"~:prior","~:0","~:type","~:0","~:project",1,"~:status","~:2","~:id",4,"~:subj","rr","~:assignee",2]],"~:ids",["^ ","~:l-u-id",2,"~:l-p-id",1,"~:l-t-id",4]]