["^ ","~:users",["^ ","~i1",["^ ","~:login","ira","~:password","123"]],"~:projects",["^ ","~i2",["^ ","~:title","New Prj","~:description","new prj","~:author","ira","~:tickets",["~#set",[]],"^0",["^8",["ira"]]]],"^7",null,"~:ids",["^ ","~:l-u-id",1,"~:l-p-id",2,"~:l-t-id",null]]