["^ ","~:users",["^ ","~i2",["^ ","~:login","ira","~:password","123"],"~i3",["^ ","^1","olga","^2","123"]],"~:projects",["^ ","~i2",["^ ","~:title","rrdsd","~:description","","~:author","ira","~:tickets",["~#set",[2,3,4]],"^0",["^8",["ira","olga"]]],"~i3",["^ ","^4","sdsdsdsd","^5","","^6","ira","^7",["^8",[]],"^0",["^8",["ira"]]],"~i4",["^ ","^4","Olgas","^5","","^6","olga","^7",["^8",[5,6]],"^0",["^8",["olga"]]]],"^7",["^ ","~i2",["^ ","~:project",2,"~:type","~:0","~:prior","~:1","~:status","~:0","~:subj","sddd","^5",null,"~:creator",2,"~:assignee",3],"~i3",["^ ","^9",2,"^:","~:0","^;","~:0","^<","~:0","^=","ds","^5",null,"^>",2,"^?",3],"~i4",["^ ","^9",2,"^:","~:0","^;","~:0","^<","~:0","^=","we","^5",null,"^>",2,"^?",2],"~i5",["^ ","^9",4,"^:","~:0","^;","~:0","^<","~:0","^=","we","^5",null,"^>",3,"^?",3],"~i6",["^ ","^9",4,"^:","~:0","^;","~:0","^<","~:0","^=","wewe","^5",null,"^>",3,"^?",3]],"~:ids",["^ ","~:l-u-id",3,"~:l-p-id",5,"~:l-t-id",6]]